<div class="container">
    <div class="row">
        <div class="col-12 header text-center">
            <h2 class="display-2">Scene It</h2>
            <p>Search for movies you want to watch. Save them to your list.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 search">
            <form id="movietitle" name="movietitle" action="/search" method="GET">
                <div class="input-group input-group-lg">
                    <input class="form-control search-bar" placeholder="Search for a movie title..." id="title" name="title"> <button class="btn btn-primary input-group-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 results">
            <div class="card-layouts">

                <% if (movieData) { %>
                    <% movieData.forEach(function(item){ %>
                        <div class="card-container">
                            <h5>
                                <%= item.Title %>
                            </h5>
                            <% if (item.Poster == "N/A") { %>
                                <img src="img/movie-poster.png" alt="<%= item.Title %>" width="300" height="400" />
                                <a href="/watchlist/<%= item.imdbID %>">Add movie to watchlist</a>
                                <% } else { %>
                                    <img src="<%= item.Poster %>" alt="<%= item.Title %>" />
                                    <form action="/watchlist/<%= item.imdbID %>" method="post">
                                        <button type="submit" class="btn btn-primary">Add movie</button>
                                    </form>

                                    <% } %>
                        </div>
                        <% }) %>

                            <% } else { %>
                                <p class="alert alert-warning">Movie search had no results!</p>
                                <% } %>

            </div>
        </div>
    </div>
</div>