<div class="container">

    <%= movieData.Title %>
        <%= movieData.Genre %>
            <%= movieData.Rated %>
                <%= movieData.Released %>
                    <%= movieData.Runtime %>
                        <%= movieData.Plot %>
                            <%= movieData.Poster %>
                                <%= movieData.imdbID %>


</div>